
.bg-blue {
     background-color: #2a6f97;
}

h1{
     text-align: center;
     padding-left: 10px;
}

.btn-primary{
     background-color: #2a6f97;
     width: 200px;
}

.row{
     padding-bottom: 10px;
     margin-right: calc(-.8 * var(--bs-gutter-x));
     margin-left: calc(-.8 * var(--bs-gutter-x));
}

.card{
     background-color: #2a6f97;
     color:#fff;
}

.container{
     padding-right: var(--bs-gutter-x, .25rem);
     padding-left: var(--bs-gutter-x, .25rem);
}


.card-body{
     flex: 1 1 auto;
     padding: .5rem .5rem;
}

#displayDiv{
     display:none;
}


